/* css banner */
.banner-slider .banner-content {
  position: relative;
}

.slider-info img {
  width: 100%;
  display: block;
}

.banner-slider li {
  list-style-type: none;
}

.banner-slider .banner-view {
  background-size: cover;
  min-height: calc(100vh - 90px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.banner-slider .banner-view::before {
  content: "";
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: 0.6;
  z-index: -1;
}

.banner-top1, .banner-top3, .banner-top4 {
  background: url(../img/banner1.jpg);
  background-size: cover;
  width: 100%;
}

.banner-top2 {
  background: url(../img/banner2.jpg);
  background-size: cover;
}

.banner-slider .banner-info-bg {
  max-width: 700px;
}

.banner-slider .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.banner-slider .banner-info-bg p {
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  line-height: 30px;
  font-size: 19px;
  opacity: 0.9;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.slider-info .banner-info .btn-white {
  padding: 12px 35px;
  line-height: 28px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189A46;
}

.banner-info .border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.banner-info .border-btn:hover {
  color: #189A46;
  background: #fff;
}

.owl-theme .owl-dots {
  display: block;
  text-align: center;
  margin-top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  position: absolute;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  background: transparent;
  zoom: 1;
}

.owl-carousel button.owl-dot {
  border: none;
  padding: 1px 6px;
}

.owl-theme .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  opacity: 0.9;
  position: relative;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #189A46;
  width: 30px;
  height: 10px;
}

/* responsive banner */
@media (max-width: 1200px) {
  .banner-slider .banner-info-bg h5 {
    font-size: 55px;
    line-height: 62px;
  }
}

@media (max-width: 992px) {
  .banner-slider .banner-info-bg h5 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media (max-width: 1200px) {
  .banner-slider .banner-info-bg p {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .ml-lg-auto, .mx-lg-auto {
    margin-left: auto !important;
  }
}

/* css home vinh */
/* css pricing plans */
.pricing_plans {
  background: rgb(147 107 232 / 5%);
  padding-bottom: 6rem;
  padding-top: 3rem;
}
.pricing_plans .plans_title {
  text-align: center;
}
.pricing_plans .plans_title p {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #f53626;
}
.pricing_plans .plans_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 3rem;
}
.pricing_plans .plans_content {
  width: 90%;
  margin: 0 5% auto;
  margin-top: 0;
}
.pricing_plans .plans_content .col:nth-child(1) {
  background: white;
  border-radius: 6px 0 0 6px;
  align-self: center;
}
.pricing_plans .plans_content .col:nth-child(2) {
  background: white;
  border-radius: 6px;
  align-self: center;
}
.pricing_plans .plans_content .col:nth-child(3) {
  background: white;
  border-radius: 0 6px 6px 0;
  align-self: center;
}
.pricing_plans .plans_content .col .col_content {
  padding: 3.5em 2.5em;
}
.pricing_plans .plans_content .col p:nth-child(1) {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.pricing_plans .plans_content .col p:nth-child(2) {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  font-weight: 600;
  color: #189a46;
}
.pricing_plans .plans_content .col p label {
  font-size: 25px;
  vertical-align: text-top;
  margin-bottom: 8px;
  margin-right: -12px;
  display: inline-block;
}
.pricing_plans .plans_content .col p span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
  margin-left: -12px;
}
.pricing_plans .plans_content .col .content_bottom {
  padding-top: 1em;
}
.pricing_plans .plans_content .col .content_bottom dt {
  margin-bottom: 5px;
  color: #696969;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding-top: 6px;
}
.pricing_plans .plans_content .col .content_bottom .button {
  margin-top: 2em;
}
.pricing_plans .plans_content .col .content_bottom a {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #189a46;
  border-color: #189a46;
}
.pricing_plans .plans_content .col:nth-child(2) {
  transform: scale(1.03);
  z-index: 1;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
  padding-left: 0;
  padding-right: 0;
}
.pricing_plans .plans_content .col:nth-child(2) .col_content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.pricing_plans .plans_content .col:nth-child(2) .col_content .content_top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.pricing_plans
  .plans_content
  .col:nth-child(2)
  .col_content
  .content_top
  p:nth-child(1) {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  border-radius: 10px;
}
.pricing_plans
  .plans_content
  .col:nth-child(2)
  .col_content
  .content_top
  p:nth-child(2) {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 0;
}
.pricing_plans
  .plans_content
  .col:nth-child(2)
  .col_content
  .content_top
  p:nth-child(3) {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  font-weight: 600;
  color: white;
}
.pricing_plans
  .plans_content
  .col:nth-child(2)
  .col_content
  .content_top
  p:nth-child(3)
  span {
  color: white;
}
/* video */
.video {
  padding: 2rem 0;
}
.video .video_pd {
  max-width: 950px;
  margin: 0 auto;
}
.video .video_content .content_title p:nth-child(1) {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
  margin: 0;
}
.video .video_content .content_title {
  text-align: center;
}
.video .video_content .content_title h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}
.video .video_content .content_title p:last-child {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.video .img_bot {
  margin-top: 3rem;
  position: relative;
  text-align: center;
}
.video .video_bot .media-play-icon{
  background-color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  color: #189A46;
}
.video .video_bot{
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
/* test */
.testimonials {
  background: rgb(147 107 232 / 5%);
  padding: 3rem 0;
}
.testimonials .testimonials_title {
  text-align: center;
}
.testimonials .testimonials_title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
  margin: 0;
}
.testimonials .testimonials_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
  margin-bottom: 3rem;
}
.testimonials .testimonials_content .item{
  max-width: 1050px;
  margin: auto;
}
.testimonials .testimonials_content .item_testimonials {
  margin: 0;
  padding: 40px 30px;
  background: white;
  margin-right: 20px;
}
.testimonials .testimonials_content .item_testimonials .text_top{
  margin: 1.5em;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.testimonials .testimonials_content .item_testimonials i{
  font-size: 30px;
  color: #189A46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
}
.testimonials .testimonials_content .item_testimonials p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  display: inline;
}
.testimonials .left_bot{
  display: flex;
  align-items: center;
}
.testimonials .left_bot .img_left_bot img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .left_bot .text_left_bot h3{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.testimonials .left_bot .text_left_bot p{
  color: #777;
  font-size: 17px;
  margin-bottom: 0;
  opacity: 0.8;
}
.testimonials .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 80px !important;
  position: inherit;
}
.testimonials .owl-theme .owl-dots .owl-dot {
  display: inline-block;
  background: transparent;
  zoom: 1;
}

.testimonials .owl-carousel button.owl-dot {
  border: none;
  padding: 1px 6px;
}

.testimonials .owl-theme .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background: #d8d8d8;
  backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  opacity: 0.9;
  position: relative;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #189A46;
  width: 30px;
  height: 10px;
}
/* sub */
.sub {
  padding: 3rem 0;
  text-align: center;
}
.sub .sub_title {
  margin-top: 1.5rem;
}
.sub .sub_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.sub .sub_title p {
  margin: 1rem 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.sub .sub_ip {
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 0.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.sub .sub_ip input {
  font-size: 16px;
  color: #666;
  border-radius: 10px;
  padding: 0px 20px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  width: 455px;
}
.sub .container .sub_ip button {
  flex-basis: 27%;
  padding: 16px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #189a46;
  border: none;
  margin-left: 20px;
}


/* responsive */
/* >lap */
@media screen and (min-width: 1200px){




}
/* lap */
@media screen and (max-width: 1200px){

}
/* tap */
@media screen and (max-width: 992px){

}
/* mobile */
@media screen and (max-width: 576px){
.sub .sub_ip button{
  width: 455px;
  margin-top: 16px;
  display: inline-block;
  margin-left: 0 !important;
}
}


.dark .pricing_plans{
background-color: #222;
}
.dark .pricing_plans h2{
color: white;
}
.dark .pricing_plans .col{
background-color: #151515 !important;
}
.dark .pricing_plans .plans_content .col p:nth-child(1){
color: white;
}
.dark .video .video_content .content_title h2{
color: white;
}
.dark .testimonials{
background-color: #222;
}
.dark .testimonials .testimonials_title h2{
color: white;
}
.dark .testimonials .testimonials_content .item_testimonials{
background-color: #151515;
}
.dark .testimonials .left_bot .text_left_bot h3{
color: white;
}
.dark .sub{
background-color: #151515;
}
.dark .sub .sub_title h2{
color: white;
}


.media-play-icon {
width: 50px;
height: 50px;
background-color: #dc3545;
border-radius: 50%;
position: relative;
line-height: 50px;
text-align: center;
cursor: pointer;
}
.media-play-icon::before,
.media-play-icon::after {
  top: 0;
  left: 0;
  border-radius: 50%;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes ripple {
0% {
  box-shadow: 0 0 0 0 rgba(15, 162, 67, 0.25), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
}

100% {
  box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
}
}

@keyframes ripple {
0% {
  box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
}

100% {
  box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
}
}
.media-play-icon::before,
.media-play-icon::after {
animation: ripple 3s infinite;
}
.media-play-icon::before {
animation-delay: 0.9s;
}
.media-play-icon::after {
animation-delay: 0.5s;
}
/* css home vinh end */

